In [19]:
#installing pymongo
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in c:\users\91995\anaconda3\lib\site-packages (3.12.1)
Requirement already satisfied: dnspython in c:\users\91995\anaconda3\lib\site-packages (2.1.0)

In [20]:
import pymongo
import ssl

### To obtain MongoDB client reference

In [21]:

#For this :-
''' Database(in left side column)
then, connect
then, connect your application
then, click "Include full driver code example
then, coppy this code'''

' Database(in left side column)\nthen, connect\nthen, connect your application\nthen, click "Include full driver code example\nthen, coppy this code'

In [22]:
#client = pymongo.MongoClient(URL,ssl_cert_reqs=ssl.CERT_NONE)
client = pymongo.MongoClient("mongodb+srv://alankar298:6lYS5rxzybIX1xVk@cluster0.srre9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",ssl_cert_reqs=ssl.CERT_NONE)
db = client.test

# To Create a data base

In [23]:
database_name="student"
student_database=client[database_name]

### To create collection

In [24]:
collection="student_detail"

In [25]:
student_detail_collection = student_database[collection]

### Creating Document inside collection

In [26]:
student_data={
    "name":"Alankar",
    "college":"ADGITM",
    "Address":"ABFDREHD"
}

In [27]:
student_detail_collection.insert_one(student_data)

### Fetching details from mongoDB file

In [28]:
student_cursor = student_detail_collection.find()   # student_detail_collection.find() this returns a pointer

In [29]:
student_cursor.next()

{'_id': ObjectId('61758d21337fc2821634d440'),
 'name': 'Alankar',
 'college': 'ADGITM',
 'Address': 'ABFDREHD'}

In [30]:
for student_details in student_detail_collection.find():
    print(student_details)

{'_id': ObjectId('61758d21337fc2821634d440'), 'name': 'Alankar', 'college': 'ADGITM', 'Address': 'ABFDREHD'}
{'_id': ObjectId('617d42d3d2d005434ce25324'), 'name': 'Sunny', 'last_name': 'Savita', 'designation': 'Student'}
{'_id': ObjectId('617d42d3d2d005434ce25325'), 'city': 'Delhi', 'name': 'shivam', 'college': 'SRM'}
{'_id': ObjectId('617d42d3d2d005434ce25326'), 'name': 'Anish', 'Address': 'UP', 'college': 'BHU'}
{'_id': ObjectId('617d4bf29ce724a0da58a5a1'), 'name': 'Alankar', 'college': 'ADGITM', 'Address': 'ABFDREHD'}

In [31]:
'''
NOTE:-
       "_id" is given by deafault, if not given 
       this is a value which is given in oder to identify data uniquely'''

'\nNOTE:-\n       "_id" is given by deafault, if not given \n       this is a value which is given in oder to identify data uniquely'

### Inserting multiple records in database

In [32]:
student_data_list =[
    {'name':'Sunny', 'last_name':'Savita', 'designation':'Student'},
    {'city':'Delhi', 'name':'shivam', 'college':'SRM'},
    {'name':'Anish', 'Address':'UP', 'college':'BHU'}
]

In [33]:
student_detail_collection.insert_many(student_data_list)

In [34]:
for student_details in student_detail_collection.find():
    print(student_details)

{'_id': ObjectId('61758d21337fc2821634d440'), 'name': 'Alankar', 'college': 'ADGITM', 'Address': 'ABFDREHD'}
{'_id': ObjectId('617d42d3d2d005434ce25324'), 'name': 'Sunny', 'last_name': 'Savita', 'designation': 'Student'}
{'_id': ObjectId('617d42d3d2d005434ce25325'), 'city': 'Delhi', 'name': 'shivam', 'college': 'SRM'}
{'_id': ObjectId('617d42d3d2d005434ce25326'), 'name': 'Anish', 'Address': 'UP', 'college': 'BHU'}
{'_id': ObjectId('617d4bf29ce724a0da58a5a1'), 'name': 'Alankar', 'college': 'ADGITM', 'Address': 'ABFDREHD'}
{'_id': ObjectId('617d4bf49ce724a0da58a5a2'), 'name': 'Sunny', 'last_name': 'Savita', 'designation': 'Student'}
{'_id': ObjectId('617d4bf49ce724a0da58a5a3'), 'city': 'Delhi', 'name': 'shivam', 'college': 'SRM'}
{'_id': ObjectId('617d4bf49ce724a0da58a5a4'), 'name': 'Anish', 'Address': 'UP', 'college': 'BHU'}

### Applying Filter

In [35]:
query = {'name':'Sunny'}             #find a record whose name is Sunny

In [36]:
for student_details in student_detail_collection.find(query):
    print(student_details)

{'_id': ObjectId('617d42d3d2d005434ce25324'), 'name': 'Sunny', 'last_name': 'Savita', 'designation': 'Student'}
{'_id': ObjectId('617d4bf49ce724a0da58a5a2'), 'name': 'Sunny', 'last_name': 'Savita', 'designation': 'Student'}

### Update a record

In [37]:
'''For updating a record :-
                            1st access that record 
                            then update
                            '''

'For updating a record :-\n                            1st access that record \n                            then update\n                            '