# OOPS extended

In [186]:
class test:
                      #supposingingly I need a dummmy class     
                      #this will give error

SyntaxError: unexpected EOF while parsing (<ipython-input-186-347886c4d357>, line 3)

In [187]:
class test:
     pass

### 1st way of creating class and its objects=>

In [188]:
a = test()  #a is the object of class 'test'

#try to attach these 3 things (class) with object 'a'
a.name='Alankar'    
a.ph_no=123445
a.surname='sharma'

In [189]:
b=test()
b.name='aryan'
b.ph_no=[123456,354,3642,247]
b.surname='sharma'

In [190]:
b.name

'aryan'

In [191]:
a.name

'Alankar'

In [192]:
b.ph_no

[123456, 354, 3642, 247]

### 2nd way of creating class and its objects=>

In [193]:
class test1():
    def __init__(ptr1, name, ph_no, surname):     # init behaves as a constructor, and constructor is responsible for provide data of different different data
        ptr1.name1   = name                      #inint is inbuild function
        ptr1.ph_no1  = ph_no
        ptr1.surname1= surname

In [194]:
r = test1()     #this won't work
'''Since,
we are suppose to provide data for classes(for this case 'name', 'ph_no', 'surname')
'''

TypeError: __init__() missing 3 required positional arguments: 'name', 'ph_no', and 'surname'

In [195]:
r = test1('Alan', 1236784 , 'Sharma')
r.ph_no1

1236784

In [196]:
r = test1('Alan', '1234' , 'Sharma')
r.ph_no1

'1234'

In [197]:
t =test1('aryan',1345676543,'naok')
t.name1

'aryan'

In [198]:
class car:
    def __init__(self, year, make, model, engin_type, tyre_type):
        self.year     = year
        self.make     = make
        self.model    = model
        self.engin_type =engin_type
        self.tyre_type =tyre_type

In [199]:
audi = car(2021,'2334', '23', 'xyz', 'pqr')
print(audi.year)
print(audi.model)

2021
23

In [200]:
fortuner= car(2001,'23524334', '4423', 'gfnxyz', 'agr')
print(fortuner.year)
print(fortuner.model)

2001
4423

In [202]:
#thus it can be seen It is esaier to maintain many objects(2nd way) than mainting manyvariable(1st way)

# Method inside a class

In [203]:
class car:
    def __init__(self, year, make, model, engin_type, tyre_type):
        self.year     = year
        self.make     = make
        self.model    = model
        self.engin_type =engin_type
        self.tyre_type =tyre_type
        
    def engin_type1(self):
        return self.engin_type
    
    def __str__(self):
        return 'This is my car class and an object for audi'

In [204]:
audi = car(2021,'2334', '23', 'xyz', 'pqr')

print( audi.engin_type    )   #accessed by def __init__

print( audi.engin_type1() )  #accessed by engin_type1

xyz
xyz

In [205]:
print(audi) #this tells this is object of a car            accessed by __self__

This is my car class and an object for audi

# Task

In [206]:
class datamanupulation:
    def __init__(self, read_csv, read_excel, read_db):
        self.read_csv = read_csv
        self.read_excel =read_excel
        self.read_db = read_db
        
    def read_csv1(self):
        return 'return from csv file'
    
    def read_excel1(self):
        return 'return from excel file'
    
    def read_db1(self):
        return 'return from db file'

In [207]:
read_data = datamanupulation(a,b,'c')

In [208]:
read_data.read_csv1()
read_data.read_excel1()
read_data.read_db1()

'return from db file'

In [3]:
import pandas as pd
#see what all files we have in the folder
# then see last 3 elements of file by :-   [:3:-1]
#if csv then vsc file
#if

In [13]:
a='Alankar'
a[:3:-1]

'rak'

In [7]:
df = pd.read_csv('C:/Users/91995/jupyter/iNeuron/Live_class/13thNov/csvfile.csv')

In [9]:
df.head(1)

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58

In [11]:
pd.describe_option

# Access Specifier

In [209]:
# private , public, protected

In [210]:
class test2:
    def __init__(self, a, b, c):
        self._a = a           #in case of single under score its working
        self.__b = b          # BUT in case of double under score its NOT working
        self.c = c

In [214]:
r=test2('alankar',"Sharma",13432)
r._a   #in case of single under score its working
r.__b  # BUT in case of double under score its NOT working; access like this  r._test2__b
''' Error,
This happens because of Access Specifier, see below '''

AttributeError: 'test2' object has no attribute '__b'

In [215]:
# private , public, protected 







# see vedio here

In [216]:
'''In python we dont have keywors for private, protected, public like in other languages like c++, java

in python -

_a  => Protected
__b => Private
c   => Public'''

'In python we dont have keywors for private, protected, public like in other languages like c++, java\nin python\n\n_a  => Protected\n__b => Private\nc   => Public'

In [217]:
#therefore access like this
r._test2__b

'Sharma'

# Inheritance

In [218]:
#1st way:-
class test3:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d


class test4:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
        
######################################################    
r= test4(11,3,345,345)
r.a

11

In [219]:
#2nd way:-
class test3:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
    
class test4(test3):
    def __init__(self,a,b,c,d):
        test3.__init__(self,a,b,c,d)       #herealso __init__ is predefine

###############################################################################
r= test4(11,3,345,345)
r.a

11

In [220]:
# or=>
class test3:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
    
    def test_in(self):                             #this could be here ; Either her
        return self.a
    
    
class test4(test3):
    def __init__(self,a,b,c,d):
        test3.__init__(self,a,b,c,d)  
        
    def test_in(self):                             #this as well as could be here ; or here;   or both places
        return self.a
        
########################################################
r= test4(11,3,345,345)
r.test_in()

11

In [221]:
r   #this tells r is the object of class 'test4'

### Now lets understand use of :-

In [222]:
# def __init__(self,a,b,c,d):
#        test3.__init__(self,a,b,c,d)

In [223]:
class test3:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
        
    def test_in(self):
        return self.a
    
    def test_test(self):
        return "This is my second method in my class"
    
    
    def test_test5(self):
        return "This is my 3rd method in my class"
    
    
    def test_test6(self):
        return "This is my again a new method in my class"
    
class test4(test3):
    pass
    #def __init__(self,a,b,c,d):
    #    test3.__init__(self,a,b,c,d)       
    

r= test4(11,3,345,345)
r.test_in()               # This still works, as test4 is directly calling test3 & doing nothing

11

In [224]:
class test3:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
        
    def test_in(self):
        return self.a
    
    def test_test(self):
        return "This is my second method in my class"
    
    
    def test_test5(self):
        return "This is my second method in my class"
    
    
    def test_test6(self):
        return "This is my second method in my class"

#here we want test4 to take 2 more arguments apart from arguments taken by test3    
class test4(test3):
    def __init__(self,a,b,c,d,p,q):
        self.p=p
        self.q=q
        # test3.__init__(self,a,b,c,d)       #if we don't use this then we'll not be able to access Aruguments 
                                            # of test3 a,b,c,d
                                          # But we'll be able to access p and q
    


    
    
r= test4(11,3,345,345,34,54)
print(r.p)
print(r.q)
r.a   # error because ' test3.__init__(self,a,b,c,d)'   not excuted
     # aslso we can see by pressing 'r. and tab' that we don't get option for r.a or r.b or r.c or r.d

34
54

AttributeError: 'test4' object has no attribute 'a'

In [225]:
#1st way:-
class test3:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
        
    def test_in(self):
        return self.a
    
    def test_test(self):
        return "This is my second method in my class"
    
    
    def test_test5(self):
        return "This is my second method in my class"
    
    
    def test_test6(self):
        return "This is my second method in my class"
    
class test4(test3):
    def __init__(self,a,b,c,d,p,q):
        self.p=p
        self.q=q
        test3.__init__(self,a,b,c,d)       #herealso __init__ is predefine
    

r= test4(11,3,345,345,34,54)
print(r.p)
print(r.q)
r.a

34
54

11