In [3]:
'''Bolean, complex, string, list, int, float are primitive datatype'''

'Bolean, complex, string, list, int, float are primitive datatype'

In [4]:
print("Hello Alnakr")

Hello Alnakr

In [5]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [6]:
a='Alankar'
print(a)
print(type(a))                   #as python supports dynamic typecasting, it detects automaticlly type of data 
a="Alankar"
print(a)
print(type(a))
a='''Alankar'''
print(a)
print(type(a))

Alankar
<class 'str'>
Alankar
<class 'str'>
Alankar
<class 'str'>

In [7]:
b=4.2
print(b)
b=5+3j
print(b)                            #NOTE for complex number we can only use 'j'

4.2
(5+3j)

## For auto complition use . + tab
## e.g:- s.         provides all the features that could be done with string

In [9]:
a=1
b='Alankar'
str(a)+b

'1Alankar'

# String

In [10]:
# strings are immutable

In [44]:
s= 'Alankar'

In [50]:
'''forward index:-
                    A-> 0
                    l-> 1
                    a-> 2
                    n-> 3
                    k-> 4
                    a-> 5
                    r-> 6 
    Reverse index:-
                    A-> -7
                    l-> -6
                    a-> -5
                    n-> -4
                    k-> -3
                    a-> -2
                    r-> -1'''
print('1)',s[-1])
print('2)',s[ : ])
print('3)',s[ 1: 4])
print('4)',s[5:90])            #NOTE  although there is no index after 6 but in string sclicing this will work    

'''JUMP 1 ,'''
print('5)',s[ : : 1])

'''Jump1 in revserse or printing reverse string'''
print('6)',s[::-1])

'''this will give alternating data,or jumping 2'''
print('7)',s[ : : 2])   


'''Reverse alternate'''
print('8)',s[ : : -2])   

print('9)',s[ : : -1])

1) r
2) Alankar
3) lan
4) ar
5) Alankar
6) raknalA
7) Aakr
8) rkaA
9) raknalA
9) raknal

In [47]:
s= 'Alankar'
s[0::-1]                 # since nothing is behind 'A' therefore only A

'A'

In [49]:
s[0:5:-1]

''

In [15]:
s[5:2:1]            #here it will try to move 5 then 6 then 7... but we want to move towards 2

''

In [16]:
s[5:-1:-1]    # NOTE:- index 5 is a and -1 is r

''

In [17]:
len(s)         # this includes from 1 then 2 ..... and includes space

7

In [18]:
'''********************NOTE***********************************************************'''
'Sharma ' * 10

'Sharma Sharma Sharma Sharma Sharma Sharma Sharma Sharma Sharma Sharma '

In [19]:
'Sharma'/ 6         #this won't work

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [20]:
v= True
type(v)

bool

In [21]:
print(True - True)                  #since True interbnally =1 and False =0
print(False - True)
print(True- False)
print(True/True)

0
-1
1
1.0

In [ ]:
print(True/False)     #this shows error
'''But in Numpy it is possible, it shows inf
 SEE BELOW'''

In [94]:
import numpy as np

np.asanyarray([1])/0

<ipython-input-94-58b1fec1d2a2>:3: RuntimeWarning: divide by zero encountered in true_divide
  np.asanyarray([1])/0

array([inf])



# List

In [7]:
l=[1,2,3,4,4,4,4,4]
len(l)

8

In [95]:
'''In list we can store different types of data or hetrogenous data'''
L= ['A',2,5,7,'s']
type(L)

list

In [105]:
#list inside list is possible
l=[1,[3,6],3,5,7,2]
l1=[1,[3,6],['Alankar','AAA'],3,5,7,2]

In [102]:
#indexing is same as string
print(l[-1])
print(l[::-1])
print(l[:-1])
print(l[3:-1])
print(l[-2:-5:1])
print(l[-2:-5:-1])

2
[2, 7, 5, 3, [3, 6], 1]
[1, [3, 6], 3, 5, 7]
[5, 7]
[]
[7, 5, 3]

In [109]:
#print reverse of Alankar in list l1= [1,[3,6],['Alankar','AAA'],3,5,7,2]
print(l1[2])
print(l1[2][0])
print(l1[2][0][::-1])

['Alankar', 'AAA']
Alankar
raknalA

In [112]:
l+ list('Sharma')                                    ############################NOTE

[1, [3, 6], 3, 5, 7, 2, 'S', 'h', 'a', 'r', 'm', 'a']

In [113]:
l2=[1,2,3]
l2*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [114]:
range(10)                                    ############################NOTE

range(0, 10)

In [116]:
list(range(10))                   #start from 0 move till 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
list(range(4,20,2)) #start from 4 till 20 skipping 1 number

[4, 6, 8, 10, 12, 14, 16, 18]

In [120]:
list(range(-4,-12,1))

[]

#  Input

In [124]:
a = input('Enter a number')
print('type of input',a,'=',type(a))       #string

Enter a number2
type of input 2 = <class 'str'>

In [125]:
a = int(input('Enter a number'))
print('type of input',a,'=',type(a))       #string

Enter a number23
type of input 23 = <class 'int'>

In [128]:
a=1
b=3
c='AS'
print(a,b,c)
                # same as:-
a,b,c = 1,3,'AS'
print(a,b,c)

1 3 AS
1 3 AS

# Tuple

In [134]:
# Tuples are immutable, just like string and list are mutable.
#meaning we can change value of list but not tuple

In [131]:
a=(1,2,3,5)
type(a)

tuple

In [130]:
a[1]

2

In [132]:
#it can also store hetrogenous data

In [133]:
a1=[1,2,5,6,7]
a2=(1,2,5,6,7)

print(type(a1))
print(type(a2))

<class 'list'>
<class 'tuple'>

In [3]:
a=('abnc',1,2,3)
a[0]

'abnc'

In [139]:
list=[]
for i in range(4):
    val=input()                     #we can also do val=input(i)
    list.append(val)
print(list)

Alankar
is
a
good boy
['Alankar', 'is', 'a', 'good boy']

# SET
#### this removes dublicates from list and arreange in assending oder

In [3]:
l=[3,4,3,3,2,1,5,7,8]
set(l)

{1, 2, 3, 4, 5, 7, 8}

In [6]:
l=(1,2,6,7,9,9,99,6,2,4,2,1,1,1)
set(l)

{1, 2, 4, 6, 7, 9, 99}

In [9]:
l=(1,2,6,7,9,9,99,6,2,4,2,1,1,1)
L=[set(l),1,2,3]
L

[{1, 2, 4, 6, 7, 9, 99}, 1, 2, 3]