In [2]:
a=10
if a:
    print("this is the value of a:-",a)

this is the value of a:- 10

In [4]:
a=10
if a<20:
    print("Alankar, value of a is less than 20")

Alankar, value of a is less than 20

In [7]:
a=int(input('Enter a number'))
if a<20:
    print("value is less than 20")
if a == 20:
    print("value is equal to 20")    
if a>20:
    print("value is more than 20")

Enter a number20
value is equal to 20

In [9]:
a=int(input('Enter a number'))
if 0<a<20:
    print("value is less than 20")
if a == 20:
    print("value is equal to 20")    
if a>20:
    print("value is more than 20")    
else:
    print('Number enter is less than or equal to 0 ')

Enter a number0
Number enter is less than or equal to 0

In [11]:
b=13
if type(a)==int:
    print(True)   #########################################################

True

In [13]:
l=[1,2,3,4,5,6,7,8,9]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### NOTE:- l[::] and l[::1] both are same

In [16]:
l[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
l[::1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [33]:
l1 = ['Alankar', [1,2,3,4,5], (2,3,4,5), 22, 23, 54, 6+5j, True]
l1

for i in l1:
    print(l1)
    
for i in l1:
    print(i)

['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
Alankar
[1, 2, 3, 4, 5]
(2, 3, 4, 5)
22
23
54
(6+5j)
True

In [54]:
l2 = ['lan',11,True,23,5+2j]
Str = Int = Bool = Complex = 0
for i in l2:
    if type(i) == str: Str +=1
    if type(i) == bool: Bool +=1
    if type(i) == int: Int+=1
    if type(i) == complex: Complex +=1
print('number of string- ',Str)
print('number of bool- ',Bool)
print('number of Int- ',Int)
print('number of complex- ',Complex)

number of string-  1
number of bool-  1
number of Int-  2
number of complex-  1

In [67]:
#printing list in reverse oder
print('list is->',l1)
for i in l1:
    if type(i) == list:
        print(i[::-1])

list is-> ['Alankar', [1, 2, 3, 4, 5], (2, 3, 4, 5), 22, 23, 54, (6+5j), True]
[5, 4, 3, 2, 1]

In [68]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [69]:
tuple(range(6))

(0, 1, 2, 3, 4, 5)

In [71]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [98]:
print('Alan','kar')

print('Alan','kar',sep='')

print('Alan','kar',sep='      ')

Alan kar
Alankar
Alan      kar

In [127]:
for i in range(2): print('Alankar',end='$$$$') 
print('\n')
for i in range(2): print('Alankar',end='   ') 
print('\n')    
for i in range(2): print('Alankar',end='')

Alankar$$$$Alankar$$$$

Alankar   Alankar

AlankarAlankar

In [128]:
#pattern
k=0
for i in range(5):
    print(".")
    for j in range(4):
        if i==4: break
        if j<=i :
            print(".",end='')
        else: continue

.
..
...
....
.....

In [129]:
#or

In [130]:
for i in range(5):
    for j in range(i+1):
        print('.',end='')
    print('')

.
..
...
....
.....

### Task1

   .
 .   .
.  .  .
 .   .
   .

In [88]:
for i in range(3):
    for j in range(2-i):
        print('  ',end='')
    for j in range(i+1):
        print(' . ',end='')
    print('\n')
    
for i in range(2):
    for j in range(i+1):
        print('  ',end='')
    for j in range(2-i):
        print(' . ',end='')
    print('\n')

     .

   .  .

 .  .  .

   .  .

     .

In [92]:
#other things
k=1
for i in range(2):
    for j in range(3-i):
        print('  ',end='')
    
    for j in range(i+k):
        print('. ',end='')
    k +=1
    print('\n')

      .

    . . .

In [93]:
#other things
k=3    
for i in range(2):
    for j in range(i):
        print(' ',end='')
    for j in range(i+k):
        print('. ',end='')
    print('\n')    
    k -=2

. . .

 . .

### Task2

 L=[ [1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2] ]
 
 Traverse each element of list and tell how many times a number is reapeting like in L[1];
 1 is repeating 2 times
 2 is repeating 2 times
 3 is repeating 2 times

In [20]:
L=[ [1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2] ]
len(L)
len( set(L[0]) )

3

In [21]:
l=[11,1,1,1,1]
a=set(l)

In [22]:
a

{1, 11}

In [23]:
l=[1,2,3,3,3,3,3,3,]
len(l)
l.count(1)

new=[]
for i in L[0]:
    if i not in new:
        new.append(i)

In [24]:
new

[1, 2, 3]

In [25]:
L=[ [1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2] ]

for i in L:
    print('In list',i)
    new=[]
    for j in i:
        if j not in new: new.append(j)
    print(new)
            
    for j in range(len(new)):
        print('element',new[j],'is present',i.count( new[j]),'times')
    print('\n')

In list [1, 1, 2, 2, 3, 3]
[1, 2, 3]
element 1 is present 2 times
element 2 is present 2 times
element 3 is present 2 times


In list [2, 4, 2, 2, 5]
[2, 4, 5]
element 2 is present 3 times
element 4 is present 1 times
element 5 is present 1 times


In list [1, 5, 8, 8, 2]
[1, 5, 8, 2]
element 1 is present 1 times
element 5 is present 1 times
element 8 is present 2 times
element 2 is present 1 times

# Take a note of ' if not' statement above

In [26]:
for i in L:
    print('In list',i)
    print('we have',len(set(i)),'uniaue elements in this list')
    
    for j in i:
        print('element',j,'in the list is present',i.count(j),'times')

In list [1, 1, 2, 2, 3, 3]
we have 3 uniaue elements in this list
element 1 in the list is present 2 times
element 1 in the list is present 2 times
element 2 in the list is present 2 times
element 2 in the list is present 2 times
element 3 in the list is present 2 times
element 3 in the list is present 2 times
In list [2, 4, 2, 2, 5]
we have 3 uniaue elements in this list
element 2 in the list is present 3 times
element 4 in the list is present 1 times
element 2 in the list is present 3 times
element 2 in the list is present 3 times
element 5 in the list is present 1 times
In list [1, 5, 8, 8, 2]
we have 4 uniaue elements in this list
element 1 in the list is present 1 times
element 5 in the list is present 1 times
element 8 in the list is present 2 times
element 8 in the list is present 2 times
element 2 in the list is present 1 times

In [27]:
# this dint work as expected
for i in L:
    print('In list',i)
    a=set(i)
    for j in range(len(a )):
        print(i[j],'is repeated',i.count(i[j]),'times')
    print('\n')

In list [1, 1, 2, 2, 3, 3]
1 is repeated 2 times
1 is repeated 2 times
2 is repeated 2 times


In list [2, 4, 2, 2, 5]
2 is repeated 3 times
4 is repeated 1 times
2 is repeated 3 times


In list [1, 5, 8, 8, 2]
1 is repeated 1 times
5 is repeated 1 times
8 is repeated 2 times
8 is repeated 2 times