In [1]:
l=[1,2,3,4,5,6]
l[::2]

[1, 3, 5]

In [2]:
l=[1,2,3,4,'Alankar']
for i in l:
    if type(i)== str:
        print(i)

Alankar

# While Loop

In [3]:
i=1
n=5
while i<n:
    print(i)                   #this will get into infinite loop
    i =i+1 #ori +=1
else:
    print('SUCCESS')

1
2
3
4
SUCCESS

In [4]:
a=1
while a<2:
    print(a)
    if(a==1):
        break

1

In [5]:
a=1
while a<20:
    print(a)
    a +=1
    if(a==9):
        print('since a is 9 therefore break')
        break

1
2
3
4
5
6
7
8
since a is 9 therefore break

In [6]:
#case1
a=1
while a<10:
    print(a)
    a +=1
    if(a==5):
        print(a+1)
        break

print('\n')
#case2
a=1
while a<10:
    print(a)
    if(a==5):
        break
    a = a+1

1
2
3
4
6


1
2
3
4
5

In [7]:
c= 'Alanmkar'
for i in c:
    if(i=='m'): break
    else: print(i,end='')

Alan

In [8]:
c= 'Alanmkar'
for i in c:
    if(i=='m'): continue
    else: print(i,end='')

Alankar

In [9]:
c= 'Alanmkar'
for i in c:
    if(i=='m'): pass
    else: print(i,end='')

Alankar

#### Diff b/w pass and continue

In [10]:
'''Continue :- continue will continue the process, used in loops
   pass :- Used when we have not written anything in the function(if function is blank, then we define PASS )'''
print('see the difference')

see the difference

In [11]:
l=['a','l','a','n','m','k','a','r']
for i in l:
    if(i=='m'): continue       #or if(i=='l[4]')
    else: print(i,end='')

alankar

In [12]:
a='ala     n'
len(a)

9

In [13]:
a.capitalize()         # just wtrite a.    the press TAB then you'll get list of functions

'Ala     n'

In [14]:
a.upper()

'ALA     N'

In [15]:
a.lower()

'ala     n'

In [16]:
print( a.find('n') )
print( a.find('a') )

8
0

In [17]:
e='wdedfasb'
e.split('d')

['w', 'e', 'fasb']

In [18]:
s='Alan'
print( list(reversed(s))  )             #this will provide in iterable object

#or 
s[::-1]

['n', 'a', 'l', 'A']

'nalA'

### Strip

In [19]:
s='Alankar'
s.strip()    #no changes

#but see below

'Alankar'

In [20]:
s='               Alankar        '
s.strip()

'Alankar'

In [21]:
s.lstrip()          #this will remove only left side space

'Alankar        '

In [22]:
s.rstrip()    ##this will remove only right side space

'               Alankar'

### join

In [23]:
"_".join("welcome to ineeuron")     #here each charater is joined by '-'

'w_e_l_c_o_m_e_ _t_o_ _i_n_e_e_u_r_o_n'

### Replace

In [24]:
s = 'Alankar'
s.replace("k","AAA")        #this will replace k with AAA

'AlanAAAar'

In [25]:
# NOTE:- as string is immutable entity, so in 'replace' we create a new variable
a = 'Alankar'
print( a.replace('Alan','aryaN') )
print(a) #thus a remains the same

aryaNkar
Alankar

### Center

In [26]:
# NOTE:- only one charater can be used

In [27]:
e = 'Alan'
e.center(9,'c')     #here Alan is printed between 9 c's
                     #if we try to include 2 charaters instead of 'c', we'll get an error

'cccAlancc'

In [28]:
e.center(9,'')    #or if we dont write instead of c we'll still be getting an error

TypeError: The fill character must be exactly one character long

In [29]:
e.center(10,' ')

'   Alan   '

### Expand

In [30]:
'Alan\tkar'

'Alan\tkar'

In [31]:
'Alan\tkar'.expandtabs()

'Alan    kar'

### is

In [32]:
#what function start with 'is' will always return Boolean(either True or False) value

In [42]:
s='alan'
print( s.isupper() )       
print( s.islower(), end='\n\n')  #when all are in lower, then True for -> .islower()

s='Alan'
print( s.isupper() )
print( s.islower(), end='\n\n' )

s='ALAN'
print( s.isupper() )    #when all are in upper, then True for -> .isupper()
print( s.islower(), end='\n\n' )

False
True

False
False

True
False

In [46]:
s='Alan'
print( s.isspace() )

s='Alan kar'
print( s.isspace() )

s='   Alan'
print( s.isspace() )

s='Alan     '
print( s.isspace() )

s=' '
print( s.isspace() )  #only checks for space

False
False
False
False
True

In [51]:
s='Alan'
print( s.isdigit() )

s='Alan123'
print( s.isdigit() )

s='123Alan'
print( s.isdigit() )

s='123'
print( s.isdigit() )

False
False
False
True

In [55]:
s='Alan'
print( s.endswith('n') )

print( s.startswith('A') )

True
True

In [57]:
s='Alan'
print( s.isalpha() )

True

In [65]:
s='Alan'
print( s.isalnum() )

s='Alan123'
print( s.isalnum() )

s='123Alan'
print( s.isalnum() )

s='123'
print( s.isalnum() )

s='Al  an'
print( s.isalnum() )

True
True
True
True
False

In [88]:
# Reverse a string
str1 = "Hello this is Alankar"

print( str1[::-1] )

for i in range(len(str),1,-1):
    print(str1[i-1],end="")
print('\n')
#or                                                          imp one!
for i in reversed(str1):
    print(i,end='')

raknalA si siht olleH
raknalA si siht olle

raknalA si siht olleH

In [91]:
i= len(str1)
while i >= 0:
    print(str1[i-1],end="")
    i -=1

raknalA si siht olleHr

## Format

In [92]:
"My name is {}".format('Alankar')

'My name is Alankar'

In [94]:
inp= input("Entyer your name")
print('My name is {}'.format(inp))

Entyer your nameAlankar
My name is Alankar

In [100]:
inp= input("Entyer your name->")
inp1= int(input("Enter your age->"))
inp2=input("enter class name->")
inp3 = input('Enter section->')

print('My name is {}'.format(inp),
      'and my age is {} yers.'.format(inp1),
     'I study in {} class and my section is {}'.format(inp2,inp3))

Entyer your name->Aryan
Enter your age->11
enter class name->first
Enter section->A
My name is Aryan and my age is 11 yers. I study in first class and my section is A

## Some inbuild functions of list

In [159]:
l=[5,1,2,3,4,5,5,"Alankar","Sharma", 'ineuron']
len(l)

10

In [160]:
'Alankar' in l            #check if Alankar present in l or not

True

In [161]:
'alankar' in l

False

In [162]:
l.append('MLDL')
l

[5, 1, 2, 3, 4, 5, 5, 'Alankar', 'Sharma', 'ineuron', 'MLDL']

In [163]:
l.pop() #MLDl is removed, by default it takes last element of list

'MLDL'

In [164]:
l.pop(4)        # 4th element is poped
l

[5, 1, 2, 3, 5, 5, 'Alankar', 'Sharma', 'ineuron']

In [165]:
l.reverse()
l

['ineuron', 'Sharma', 'Alankar', 5, 5, 3, 2, 1, 5]

In [166]:
l.insert(2,'2nd element')
l

['ineuron', 'Sharma', '2nd element', 'Alankar', 5, 5, 3, 2, 1, 5]

In [167]:
l.insert(20,'20nd element')      #note
l

['ineuron',
 'Sharma',
 '2nd element',
 'Alankar',
 5,
 5,
 3,
 2,
 1,
 5,
 '20nd element']

In [168]:
l.remove(5) #this will remove value first '5'
l

['ineuron', 'Sharma', '2nd element', 'Alankar', 5, 3, 2, 1, 5, '20nd element']

In [169]:
l=[1,2,3,4]
l1=[5,6,7,8]
l+l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [170]:
l.append(l1)
l

[1, 2, 3, 4, [5, 6, 7, 8]]

In [171]:
l.insert(-1,l1)
l

[1, 2, 3, 4, [5, 6, 7, 8], [5, 6, 7, 8]]

In [172]:
l.extend(l1)       # inserting elemnets of list rather than inserting list together, as done above
l

[1, 2, 3, 4, [5, 6, 7, 8], [5, 6, 7, 8], 5, 6, 7, 8]

## comprehension operation

In [2]:
s ='my name is sudh'
s.split(' ')

['my', 'name', 'is', 'sudh']

In [7]:
#print square of each element in the list
l =[1,2,3,4,56]

#Method 1
l1=[]
for i in l:
    l1.append(i*i)   #or we can write i**2
print(l1)

#Metgod 2=>
[i**2 for i in l]        ############# This approch is called comprehension operation

[1, 4, 9, 16, 3136]

[1, 4, 9, 16, 3136]

In [12]:
# Return me list of all characters
s = "sudh"

#method 1
l=[]
for i in s:
    l.append(i)
print(l)

#Method 2=>
[i for i in l]

['s', 'u', 'd', 'h']

['s', 'u', 'd', 'h']

In [30]:
#Create a separate list with even & odd numbers of size 10 , and perform element wise addition operation

##Method 1=>
l1=[]
l2=[]
l3=[]
for i in range(1,21):
    if i%2 == 0: l1.append(i)
    else: l2.append(i)
print("Even list->",l1)
print("Odd list ->",l2)

for i in range(len(l1)):
    l3.append(l1[i] + l2[i])
print("Sum------->",l3)

print('\n')
#Method 2=>
l3=[i for i in range(2,20,2)]                   #better method
l4=[i for i in range(1,20,2)]
sum=[l3[i]+l4[i] for i in range(len(l3))]
print("Even list->",l3)
print("Odd list ->",l4)
print("Sum------->",sum)

Even list-> [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd list -> [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Sum-------> [3, 7, 11, 15, 19, 23, 27, 31, 35, 39]


Even list-> [2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd list -> [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Sum-------> [3, 7, 11, 15, 19, 23, 27, 31, 35]

# Q1 Write a list comprehension operation for gnerating all the list of apphabatical character in upper case and lower case.

In [58]:
# ASCII Numbers
for i in range(0,400):
    print(i,"->",chr(i))

0 ->  
1 -> 
2 -> 
3 -> 
4 -> 
5 -> 
6 -> 
7 -> 
8 -> 
9 ->
10 ->

11 ->
12 ->
13 ->
14 -> 
15 -> 
16 -> 
17 -> 
18 -> 
19 -> 
20 -> 
21 -> 
22 -> 
23 -> 
24 -> 
25 -> 
26 -> 
27 -> 
28 ->
29 ->
30 ->
31 ->
32 ->
33 -> !
34 -> "
35 -> #
36 -> $
37 -> %
38 -> &
39 -> '
40 -> (
41 -> )
42 -> *
43 -> +
44 -> ,
45 -> -
46 -> .
47 -> /
48 -> 0
49 -> 1
50 -> 2
51 -> 3
52 -> 4
53 -> 5
54 -> 6
55 -> 7
56 -> 8
57 -> 9
58 -> :
59 -> ;
60 -> <
61 -> =
62 -> >
63 -> ?
64 -> @
65 -> A
66 -> B
67 -> C
68 -> D
69 -> E
70 -> F
71 -> G
72 -> H
73 -> I
74 -> J
75 -> K
76 -> L
77 -> M
78 -> N
79 -> O
80 -> P
81 -> Q
82 -> R
83 -> S
84 -> T
85 -> U
86 -> V
87 -> W
88 -> X
89 -> Y
90 -> Z
91 -> [
92 -> \
93 -> ]
94 -> ^
95 -> _
96 -> `
97 -> a
98 -> b
99 -> c
100 -> d
101 -> e
102 -> f
103 -> g
104 -> h
105 -> i
106 -> j
107 -> k
108 -> l
109 -> m
110 -> n
111 -> o
112 -> p
113 -> q
114 -> r
115 -> s
116 -> t
117 -> u
118 -> v
119 -> w
120 -> x
121 -> y
122 -> z
123 -> {
124 -> |
125 -> }
126 -> ~
127 -> 
128 -> 
129 -> 
130 -> 
131 -> 
132 -> 
133 ->
134 -> 
135 -> 
136 -> 
137 -> 
138 -> 
139 -> 
140 -> 
141 -> 
142 -> 
143 -> 
144 -> 
145 -> 
146 -> 
147 -> 
148 -> 
149 -> 
150 -> 
151 -> 
152 -> 
153 -> 
154 -> 
155 -> 
156 -> 
157 -> 
158 -> 
159 -> 
160 ->
161 -> ¡
162 -> ¢
163 -> £
164 -> ¤
165 -> ¥
166 -> ¦
167 -> §
168 -> ¨
169 -> ©
170 -> ª
171 -> «
172 -> ¬
173 -> ­
174 -> ®
175 -> ¯
176 -> °
177 -> ±
178 -> ²
179 -> ³
180 -> ´
181 -> µ
182 -> ¶
183 -> ·
184 -> ¸
185 -> ¹
186 -> º
187 -> »
188 -> ¼
189 -> ½
190 -> ¾
191 -> ¿
192 -> À
193 -> Á
194 -> Â
195 -> Ã
196 -> Ä
197 -> Å
198 -> Æ
199 -> Ç
200 -> È
201 -> É
202 -> Ê
203 -> Ë
204 -> Ì
205 -> Í
206 -> Î
207 -> Ï
208 -> Ð
209 -> Ñ
210 -> Ò
211 -> Ó
212 -> Ô
213 -> Õ
214 -> Ö
215 -> ×
216 -> Ø
217 -> Ù
218 -> Ú
219 -> Û
220 -> Ü
221 -> Ý
222 -> Þ
223 -> ß
224 -> à
225 -> á
226 -> â
227 -> ã
228 -> ä
229 -> å
230 -> æ
231 -> ç
232 -> è
233 -> é
234 -> ê
235 -> ë
236 -> ì
237 -> í
238 -> î
239 -> ï
240 -> ð
241 -> ñ
242 -> ò
243 -> ó
244 -> ô
245 -> õ
246 -> ö
247 -> ÷
248 -> ø
249 -> ù
250 -> ú
251 -> û
252 -> ü
253 -> ý
254 -> þ
255 -> ÿ
256 -> Ā
257 -> ā
258 -> Ă
259 -> ă
260 -> Ą
261 -> ą
262 -> Ć
263 -> ć
264 -> Ĉ
265 -> ĉ
266 -> Ċ
267 -> ċ
268 -> Č
269 -> č
270 -> Ď
271 -> ď
272 -> Đ
273 -> đ
274 -> Ē
275 -> ē
276 -> Ĕ
277 -> ĕ
278 -> Ė
279 -> ė
280 -> Ę
281 -> ę
282 -> Ě
283 -> ě
284 -> Ĝ
285 -> ĝ
286 -> Ğ
287 -> ğ
288 -> Ġ
289 -> ġ
290 -> Ģ
291 -> ģ
292 -> Ĥ
293 -> ĥ
294 -> Ħ
295 -> ħ
296 -> Ĩ
297 -> ĩ
298 -> Ī
299 -> ī
300 -> Ĭ
301 -> ĭ
302 -> Į
303 -> į
304 -> İ
305 -> ı
306 -> Ĳ
307 -> ĳ
308 -> Ĵ
309 -> ĵ
310 -> Ķ
311 -> ķ
312 -> ĸ
313 -> Ĺ
314 -> ĺ
315 -> Ļ
316 -> ļ
317 -> Ľ
318 -> ľ
319 -> Ŀ
320 -> ŀ
321 -> Ł
322 -> ł
323 -> Ń
324 -> ń
325 -> Ņ
326 -> ņ
327 -> Ň
328 -> ň
329 -> ŉ
330 -> Ŋ
331 -> ŋ
332 -> Ō
333 -> ō
334 -> Ŏ
335 -> ŏ
336 -> Ő
337 -> ő
338 -> Œ
339 -> œ
340 -> Ŕ
341 -> ŕ
342 -> Ŗ
343 -> ŗ
344 -> Ř
345 -> ř
346 -> Ś
347 -> ś
348 -> Ŝ
349 -> ŝ
350 -> Ş
351 -> ş
352 -> Š
353 -> š
354 -> Ţ
355 -> ţ
356 -> Ť
357 -> ť
358 -> Ŧ
359 -> ŧ
360 -> Ũ
361 -> ũ
362 -> Ū
363 -> ū
364 -> Ŭ
365 -> ŭ
366 -> Ů
367 -> ů
368 -> Ű
369 -> ű
370 -> Ų
371 -> ų
372 -> Ŵ
373 -> ŵ
374 -> Ŷ
375 -> ŷ
376 -> Ÿ
377 -> Ź
378 -> ź
379 -> Ż
380 -> ż
381 -> Ž
382 -> ž
383 -> ſ
384 -> ƀ
385 -> Ɓ
386 -> Ƃ
387 -> ƃ
388 -> Ƅ
389 -> ƅ
390 -> Ɔ
391 -> Ƈ
392 -> ƈ
393 -> Ɖ
394 -> Ɗ
395 -> Ƌ
396 -> ƌ
397 -> ƍ
398 -> Ǝ
399 -> Ə

In [57]:
#sol
l=[chr(i) for i in range(97,123) ]
l1=[chr(i) for i in range(65,91)]
print("Capital alphabets->",l)
print('\n')
print("Small alphabets  ->",l1)

Capital alphabets-> ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']


Small alphabets  -> ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

# Q2 write a code for pelindrom by using while loop

In [83]:
#sol
s=input("Enter anything->")
i=len(s)
new_s = s
while i > 0:
    new_s = new_s + s[i-1] 
    #print(new_s)
    i -=1
print("Palindrome->",new_s)

Enter anything->ethw46h
Palindrome-> ethw46hh64whte

In [84]:
# if without while loop was possible
s='abc'
s+'a'

'abca'

# Q3 Write a code to sort string in alphabatical order. // Don't use sort function...

In [99]:
ord('a')  # to convert char into ascii

97

In [149]:
#sol
s='badcfrASSA'
s1 = s.upper()   #this will make all elements in upper case
l= [ord(i) for i in s1]   #this will convert ascii alphabets into numerical values

for i in range(len(l)):
    for i in range(0,len(l)):
        if(i==len(l)-1):
            continue
        if(l[i]>l[i+1]):
            var = l[i]
            l[i] = l[i+1]
            l[i+1] = var

l=[chr(i) for i in l]         #this will convert ascii numerical values into alphabets
s2=''.join([str(i) for i in l])
print(s2)

AAABCDFRSS

In [11]:
#another sol 
s='badcfrASSA'
l=[]
[l.append(s[i]) for i in range(len(s))]
l
set(l)

{'A', 'S', 'a', 'b', 'c', 'd', 'f', 'r'}

In [150]:
s='badcASfr'
s.upper()

'BADCASFR'

In [151]:
l=[3,1,7,1]

for i in range(len(l)):
    for i in range(0,len(l)):
        if(i==len(l)-1):
            print('hi')
            continue
        if(l[i]>l[i+1]):
            var = l[i]
            l[i] = l[i+1]
            l[i+1] = var

hi
hi
hi
hi

In [152]:
s='badc'
s.upper()
l= [ord(i) for i in s]
l

[98, 97, 100, 99]

In [153]:
[chr(i) for i in l]

['b', 'a', 'd', 'c']

In [154]:
s='badc'
l= [i for i in s]

l.sort()
l

['a', 'b', 'c', 'd']