# Tuple

In [8]:
t = (1,2,3,3,3,3,3,4,5,3,3,6,7,"Akan","ineuron")

In [9]:
print( t[0])
print( t[0:4])

1
(1, 2, 3, 3)

#### inbuild functions of tuple

In [11]:
t.count(3)

7

In [14]:
print(t.index(1) )    #provides first occerence of element
print(t.index(2) )
print(t.index(3) )
print(t.index(6) )

0
1
2
11

In [15]:
del t #this will delete tuple t

In [16]:
t

NameError: name 't' is not defined

# Set

In [25]:
s = set()         #no repitation
                  #elements insequence (for alphabets as well)

In [26]:
s.add(3)
s.add(5)
s.add("Alan")
s.add(3)
s

{3, 5, 'Alan'}

In [30]:
s= set(1,2,3) #this will give error  because we can pass only single variable in this case,see below

TypeError: set expected at most 1 argument, got 3

In [32]:
s = {1,2,3,2,3,2,3,2,3,'su','Su'}
s

{1, 2, 3, 'Su', 'su'}

In [35]:
l = ['a','d','b']           
print(set(s1))
l=[1,4,2,6,5,7,7,7,1]
print(set(l))

{'d', 'a', 'b'}
{1, 2, 4, 5, 6, 7}

In [39]:
l=[1,2,5,3,2,[1,1,2,3,7,11]]
set(l)       #list inside list can not be passed in set
          #so for this case we can add one by one element in set & when list don't add

TypeError: unhashable type: 'list'

In [45]:
l=[1,2,5,3,2,[1,1,2,3,7,11]]
s = set()
for i in l:
    if(type(i) == list): continue
    else: s.add(i) 
s

{1, 2, 3, 5}

In [46]:
# if we have list under list like this  l=[1,2,5,3,2,[1,1,2,3,7,11]]
l=[1,2,5,3,2,[1,1,2,3,7,11]]
s = set()
for i in l:
    if(type(i) == list):
         [s.add(j) for j in i]
    else: s.add(i) 
s

{1, 2, 3, 5, 7, 11}

#### using some Tuple inbuild function

In [49]:
l=[1,2,5,3,2,3,3,3]
s = set(l)
s.remove(3)
s

{1, 2, 5}

In [51]:
s.remove(77) #error because 77 not present in list

KeyError: 77

In [52]:
l=[1,2,5,3,2,3,3,3]
s = set(l)
s.discard(5)
s

{1, 2, 3}

In [53]:
s.discard(7777) # No error
               #Since we are rewuesting an elemnet to be discarded whicj is not present

In [58]:
x={'ineuron','ML','learning'}
y= {'stats', 'Deep learning', 'Conputer vison','ineuron'}

print(type(x))
print(type(y))

x.difference(y)   # x-y

<class 'set'>
<class 'set'>

{'ML', 'learning'}

In [68]:
print( s )
[print(i) for i in s]

{1, 2, 3}
1
2
3

[None, None, None]

In [69]:
s[0]  #iteration is not possible in set, because data is not stored in sequence/order

TypeError: 'set' object is not subscriptable

In [70]:
s[0:1]  #slicing not possible in set, because data is not stored in sequence/order

TypeError: 'set' object is not subscriptable

In [89]:
#now if we want to do indexing or slicing,
#then convert tuple into list or tuple
s={1,2,3,3,3,3}
print(s,type(s))

l = list(s)
print(l,type(l))

t = tuple(s)
print(t,type(t))

# but type of s remains set only 
type(s)

{1, 2, 3} <class 'set'>
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

set

# Dictnary

In [94]:
l ={}
print(type(l) )

l={1,2,3,4}
print(type(l) )

<class 'dict'>
<class 'set'>

In [100]:
dic ={ 1:'Alan',                    #here 1and 2 -> Keys
        2:'sha'}                    # Alan & Sha -> Values
dic[1]

'Alan'

In [103]:
d ={4:'sudh', 5:'kumar', "k1":"xyz", "k2":[1,2,3,4,5], 6:[4,5,7,9]}
d[6]

[4, 5, 7, 9]

In [2]:
#for special character
d ={4:'sudh', 5:'kumar', @ : "asdv")    #special charater should not be used in dictnary as key

SyntaxError: invalid syntax (<ipython-input-2-5a99419647e4>, line 2)

In [3]:
#but we can use it like this(by makung a string)
d ={4:'sudh', 5:'kumar', '@' : "asdv"}
d['@']

'asdv'

In [4]:
#for key
d ={4:'sudh', 5:'kumar', [1,2,34] : "asdv"}    #list should not be used in dictnary as key

TypeError: unhashable type: 'list'

In [1]:
#for tuple
#but we can place tuple
d ={4:'sudh', 5:'kumar', (1,2,34) : "asdv"}   
print((1,2,34))


#We can also put underscore _ as a key ; 
#because underscore is called as place holder & and underscore can works for any variable 
d ={4:'sudh', 5:'kumar', (1,2,34) : "asdv",  _:45}   
print(_)

(1, 2, 34)

In [5]:
#for set
d ={4:'sudh', 5:'kumar', {1,2,34} : "asdv"}   #set won't work in Dectionary as as key

TypeError: unhashable type: 'set'

In [ ]:
'''
Thus,
in dictonary string, int, tuple, underscore  are working as a key
but
list, set, special character not waorking as akey '''

In [8]:
#key should unique
d={1:'Alan', 2:'kar'}
d={1:'Alan', 1:'kar'}
d                      #key takes the value of last one

{1: 'kar'}

In [9]:
d= {1:'Ala', 2:'Kar', 3:['mldl', 'oops', 'FSDS']}
print( d[1] )
print( d[3][0] )

Ala
mldl

In [10]:
#but
print( d[0] ) #will give error

KeyError: 0

In [13]:
#Dictonary under dictonary
D1 = {1:'MLDL',
      2:'Class',
      3:'is',
      4:'nice',
     'D2':{1:'Alankar', 2:'Sharma', 3:'Perfect'}
     }

D1['D2'][1]

'Alankar'

In [14]:
#Addning value to the key

D1[5] = 'NEW VALUE'
D1

{1: 'MLDL',
 2: 'Class',
 3: 'is',
 4: 'nice',
 'D2': {1: 'Alankar', 2: 'Sharma', 3: 'Perfect'},
 5: 'NEW VALUE'}

In [15]:
#updating values of dictionary
D1[3] = 'is a very'
D1

{1: 'MLDL',
 2: 'Class',
 3: 'is a very',
 4: 'nice',
 'D2': {1: 'Alankar', 2: 'Sharma', 3: 'Perfect'},
 5: 'NEW VALUE'}

In [21]:
#list of all keys
d={'k1':'rghwraetdsg', 'k2':'AEBrtbf', 'k3':'iNeuron', 'k4':21352}
for i in d:
    print(i)
#or
print(d.keys() )    

#since a list is returned
list(d.keys())[0]

k1
k2
k3
k4
dict_keys(['k1', 'k2', 'k3', 'k4'])

'k1'

In [22]:
#list of all values
d.values()     #a list would be returned

dict_values(['rghwraetdsg', 'AEBrtbf', 'iNeuron', 21352])

In [23]:
list(d.values())[0]

'rghwraetdsg'

In [24]:
#list
d.items()

dict_items([('k1', 'rghwraetdsg'), ('k2', 'AEBrtbf'), ('k3', 'iNeuron'), ('k4', 21352)])

In [32]:
# Fetch keys whose values is string
d={'k1':'rghwraetdsg', 'k2':'AEBrtbf', 'k3':'iNeuron', 'k4':21352}
for i in d:
    if(type(d[i]) == str ):
        print('key->',i,"and", 'Value->',d[i])

print('\n')
#or
for i in d.keys():
    if(type(i) == str):  print('key->',i,"and", 'Value->',d[i])

key-> k1 and Value-> rghwraetdsg
key-> k2 and Value-> AEBrtbf
key-> k3 and Value-> iNeuron


key-> k1 and Value-> rghwraetdsg
key-> k2 and Value-> AEBrtbf
key-> k3 and Value-> iNeuron
key-> k4 and Value-> 21352

## Note the below program

In [51]:
#Create a dictionary having keys from 0 to 10 and its values to be square of its keys
#1st way
d1={}
for i in range(0,11):
    d1[i] = i**2
print(d1)

#2nd way
{i:i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [56]:
#create a dictionary where each character of 'ineuron' is key, and values are 'ineuron' 

s='ineuron'
print( {s[i]:s  for i in range(len(s))})
#or
{i:s  for i in s}

{'i': 'ineuron', 'n': 'ineuron', 'e': 'ineuron', 'u': 'ineuron', 'r': 'ineuron', 'o': 'ineuron'}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [113]:
#give maxcimum values exis in the below dict.
d = {'ineuron':{'a':23, 'b':34, 'c':56}, 'course':{'d':45, 'e':12} , "xcv":99,'a':[325,523636,2356]}


l=[]
for i in d.values():
    if(type(i) == dict): l.append( max(i.values()) )
    if(type(i) == list): print('hi'); l.append(max(i))
    if(type(i)==int): l.append(i)
        
print( max(l) )
                  #but if we add tuple, float, bool, dict under dict....
#method-2
'''for i in d.values():
    if type(i)==int:
        if max < i:
            max = i
    else:
        for j in i.values():
            if j > max:
                max=j
print(max)'''

hi
523636

'for i in d.values():\n    if type(i)==int:\n        if max < i:\n            max = i\n    else:\n        for j in i.values():\n            if j > max:\n                max=j\nprint(max)'

In [87]:
d = {'ineuron':{'a':23, 'b':34, 'c':56}, 'course':{'d':45, 'e':12} , "xcv":99}
for i in d:
    print(type(d[i]))

<class 'dict'>
<class 'dict'>
<class 'int'>

In [109]:
a=[]
l=[1234,451,51]
a.append(max(l))
a

[1234]

In [ ]:
#extend, append and add