# Functions

In [1]:
# print, len(), type().... are some example of functions

In [2]:
def test():
           pass

In [3]:
def Alankar():
    print('this is Alankar!')
    

Alankar()  #function calling

this is Alankar!

In [4]:
def sumation(a,b):
    a = str(a)
    b = str(b)
    return a+b

sumation(1,'alan')

'1alan'

### Difference b/w return and print

In [5]:
def sumation(a,b):        #here a & b are arguments
     #print(a+b)    # if we write print(a+b), then we'' get None.
                    # Because of this 'none' if we want to all something we wont be able to do
    return a+b      


print( sumation(1,19) )
print( sumation('Alankar ','Sharma') )
print( sumation('Alankar ','1') )

20
Alankar Sharma
Alankar 1

In [6]:
def sumation(a,b):
    a = str(a)
    b = str(b)
    print (a+b)

sumation(1,'alan') + "Sharma"      # Error because,
                                # print statement returns None type, meaning we can't add or concatinate
                                #on statement returned by print
                               #see below solution

1alan

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [28]:
def sumation(a,b):
    a = str(a)
    b = str(b)
    return a+b

sumation(1,' alan') + " Sharma"     # No error because return provides 'Outcome of a function' 
                                    # meaning if a function is returning string then string is returned
                                    # and if a function is returrning int then int is returned in the output
                                  # Therefore we can perform operations on the result

'1 alan Sharma'

In [33]:
def add(a,b,c):
    return a+2, b+3, c+4, a+b+c

print( add(11,22,3) )
print( type(add(11,22,3)) )

(13, 25, 7, 36)
<class 'tuple'>

In [34]:
a=1
b=2
c=3
d=1.11

#or
a,b,c,d = 1, 2, 3, 1.11

In [50]:
def test(a,b,c):
    return a+2, b+3, c+4, a+b+c

x,y,z,w = add(3,4,5)
print('x->',x) # 3+2 or a+2 where a =3
print('y->',y) # 4+3 or b+3 where b =4
print('z->',z) # 5+4 or c+4 where c =5
print('w->',w) # 3+4+5 or a+b+c

x-> 5
y-> 7
z-> 9
w-> 12

In [52]:
def test(a,b,c):
    return a+2, b+3, c+4, a+b+c


_, _, _, b = test(3,4,5)
print(b) #3+4+5
print(_) # first 3+2 then overwrite 4+3 then overwrite 5+4

12
9

In [60]:
def test(x,y):
    return x+y, x, x**4, x*y

print(  test(3,5)[2]  )  # x**4 or 3*3*3*3 because x=3

#or
print('\n')
_,_,c,_ = test(3,5)
print(c)

81


81

In [63]:
def test7(b,v,c):
    d = b*v*c
    f = b+v+c
    return d,f

a,b = test7(2,3,4)
print(a)
print(b)

24
9

In [7]:
# write a function to tell how many string are ther ein the below list
l = ["sudg", 3,4,5,6,"kumar",'a','b',34.556]

def string(l):
    count = 0
    for i in l:
        if(type(i) == str): count +=1
    return count
        
print("total number of strings->",string(l))

total number of strings-> 4

In [8]:
string(l)

4

#### Creating the description of function

In [10]:
def str_len(s):
    '''This will give nunmber of string present'''
    return len(s)

str='string'
print("length of string=>",str_len(str))

length of string=> 6

![](s1.jpg)

### Assiging default value to function

In [16]:
def test (a=3,b=5):
    return a,b
print( test() )
print( test(1) )
print( test(222,2222) )
print( test("Alankar") )
_,second_value = test()
print( second_value )

(3, 5)
(1, 5)
(222, 2222)
('Alankar', 5)
5

### Function accepting infinite values or 
## Single Asteric
#### Returns Tuple

In [62]:
def test11(*args):
    return args

print( test11(11,3) )
print( type(test11(11,3)) ) ##########################
print( test11(11,3,3,32,5,235,'sga','f') )

(11, 3)
<class 'tuple'>
(11, 3, 3, 32, 5, 235, 'sga', 'f')

# NOTE:- we can use any name instead of args

##### Q ) if we pass n number of string then we must get concatination of all the string

In [63]:
def string_concat(*ar):
    string=''
    for i in ar:
        if type(i) == str:
            string = string + i
    return string

string_concat('dwfs','Alankar',2,23,21,'Sharma')

'dwfsAlankarSharma'

In [64]:
def string_concat(a,b,c,d,*ar):
    return a,b,c,d,ar
print( string_concat('dwfs','Alankar',2,23,21,'Sharma'))


def string_concat(*ar,a,b,c,d):
    return ar,a,b,c,d
string_concat('dwfs','Alankar',2,23,21,'Sharma',a=1,b=2,c=3,d=4)

('dwfs', 'Alankar', 2, 23, (21, 'Sharma'))

(('dwfs', 'Alankar', 2, 23, 21, 'Sharma'), 1, 2, 3, 4)

## double asterick
#### Returns Dictionary

In [69]:
#used when we pass in keys, i.e Dictionary
def test(**kwargs):           # keyword argument
    return kwargs
test(Alankar=222222, a=3333333 ,d=444444444, e=555555555,Sharma=555555)

{'Alankar': 222222,
 'a': 3333333,
 'd': 444444444,
 'e': 555555555,
 'Sharma': 555555}

In [70]:
#used when we pass in keys, i.e Dictionary
def test(**kwargs):           # keyword argument
    return kwargs
test(Alankar=222222, 1=3333333)

#used when we pass in keys, i.e Dictionary
def test(**kwargs):           # keyword argument
    return kwargs
test(Alankar=222222, '1'=3333333)      #both gives error

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-70-772d51b00d29>, line 4)

In [79]:
#used when we pass in keys, i.e Dictionary
def test(**kwargs):           # keyword argument
    return kwargs
test(Alankar=222222, a=[1235,12514,15])

{'Alankar': 222222, 'a': [1235, 12514, 15]}

#### Q) Take infinite key value pairs in function and then find the length of list

In [102]:
def test(**kwargs):
    for i in kwargs.values():
        if type(i)==list:
            l_length=len(i)
    return l_length
test(Alankar=222222, l=[21,3,4,5,6,67,7,8])

8